<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <div class="app-layout">
            <header class="header">
                {{ partial "header.html" . }} 
            </header>
            <nav class="sidebar">
                {{ partial "nav.html" . }}
            </nav>
            <main class="main">
                {{- block "main" . -}}{{- end -}}
            </main>
        </div>
        {{/*  {{- partial "search.html" . -}}  */}}
        {{ partial "scripts.html" . }}
    </body>
</html>