{{ define "main" }}
    <section class="title hero">
        <div class="container">
            <h1 class="h1-list">
                {{.Title}}
            </h1>
            <p class="list-subtitle">{{.Params.subtitle}}</p>
        </div>
    </section>

    <div class="page-container">
        
        <div class="list-container"></div>
            <ul class="list-grid">
                {{ range .Pages -}}
                    {{ .Render "summary"}}
                {{- end }}
            </ul>    
        </div>
    </div>
{{ end }}