{{ define "main" }}
    <section class="title hero">
        <div class="container">
            <h1 class="h1-list">
                {{.Title}}
            </h1>
            <p class="list-subtitle">{{.Params.subtitle}}</p>
        </div>
    </section>

    <section class="cards">
        <div class="container">
            <ul class="list-grid">
                {{ $paginator := .Paginate .Pages }}
                {{ range $paginator.Pages }}
                    {{ .Render "summary" }}
                {{ end }}
            </ul>    
        </div> 
    </section>

    <section class="pagination">
        <div class="container">
            <div class="something">
{{ if $paginator.HasPrev }}
                <a href="{{ $paginator.Prev.URL }}" class="prev"><</a>
            {{ end }}

            {{ range $paginator.Pagers }}
                <a href="{{ .URL }}" class="{{ if eq . $paginator }}active{{ end }}">{{ .PageNumber }}</a>
            {{ end }}

            {{ if $paginator.HasNext }}
                <a href="{{ $paginator.Next.URL }}" class="next">></a>
            {{ end }} 
            </div>
            
        </div>
        
    </section>

    

{{ end }}