{{ define "main" }}
<div class="layout layout--article">
	<section class="article-image">
		<div class="container">
			{{ if .Params.image }}
		{{ with .Resources.Get .Params.image }}
			<div >
				<img src="{{ .RelPermalink}}" alt="Header image" />
			</div>
		{{ end }}
	{{ end }}
		</div>	
	</section>
	
	<section class="title hero">
		<div class="container">
			<h1 class="h1-list">
				{{.Title}}
			</h1>
			<p class="list-subtitle">{{.Params.subtitle}}</p>
		</div>
	</section>
	<section class="article-content">
		<div class="container">
		{{- .Content -}}
		</div>
	</section>
	
</div>
{{ end }}