<li>
    <a class="item__link" href='{{ .Permalink }}'>
        <article class="item">
            <div class="visual">
                {{ with .Resources.GetMatch .Params.image }}
                    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                {{ else }}
                    <img src="/images/default.jpg" alt="Default image" title="oops">
                {{ end }}
            </div>
            <div class="item__body">
                <h2 class="item__title">
                    {{ .Title }}
                </h2>
                <time datetime="{{ .Date.Format "Mon, Jan 2, 2006" }}">
                    {{ partial "icons/time.svg.html"  }}&nbsp;{{ .Date.Format "Mon, Jan 2, 2006" }}
                </time>
            </div>
        </article>
    </a>
</li>