.layout--home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-block-size: 100dvh;
    row-gap: clamp(1.5rem, 5vw, 3rem);
    column-gap: 3rem;
    padding-block-end: clamp(4rem, 10vh, 8rem);

    .hero {
        grid-column: 1 / span 2;
        grid-row: 1 / 1;
    }


    .cards {
        grid-column: 1 / span 2;
        grid-row: 2 / 2;
    }


    .latest-posts {
        grid-column: 1 / 2;
        grid-row: 3 / 3;
    }


    .latest-bookmarks {
        grid-column: 1 / 2;
        grid-row: 4 / 4;
    }


    .tag-cloud {
        grid-column: 2 / 3;
        grid-row: 3 / span 2;
    }

    
    a:hover {
        color: inherit;
        text-decoration: underline;
        text-decoration-color: var(--secondary-color);
    }
}


.latest-posts,
.latest-bookmarks,
.tag-cloud {
    h2 {
        color: var(--primary-color);
    }
}


.latest-posts,
.latest-bookmarks {
    a {
        color: var(--text-color);
    }
}


.latest-bookmarks,
.tag-cloud {
    h2 {
        color: var(--primary-color);
    }
}


.container {
    max-width: 1500px;
    padding-inline: clamp(1rem, 2.5vw, 4rem);
    margin-inline: auto;
}


.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    a {
        width: auto;
        display: block;
        padding: 1em;
        text-align: center;
        background-color: var(--secondary-color);
        color: var(--text-color);
        text-transform: capitalize;
        border-radius: var(--default-border-radius);
        border: 2px solid var(--card-bg);
    }

    a:hover {
        border: 2px solid var(--primary-color);
        color: var(--text-color);
        text-decoration: none;
    }
}


.home-cta {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.home-cta-item {
    border: 1px solid var(--border-color);
    border-radius: var(--default-border-radius);
    background: var(--box-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-block-size: auto;
    padding: 1rem;
    justify-content: space-around;
    height: 14rem;

    &:hover {
        border: 1px solid var(--primary-color);

        h2,
        .logo {
            color: var(--text-color);
        }
    }

    h2 {
        font-size: clamp(1.5rem, 4vw, 2.5rem);
        line-height: clamp(2rem, 5vw, 3rem);
        letter-spacing: clamp(-1px, -0.5vw, -0.5px);
        margin: 0;
        color: var(--primary-color);
    }

    .logo {
        color: var(--primary-color);
        inline-size: 3rem;
        block-size: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            inline-size: 100%;
            block-size: 100%;
        }
    }
}