{{ define "main" }}
    <div class="container">
        <div class="layout layout--home">
            <section class="title hero">
                    <h1 class="h1-list">
                        {{.Title}}
                    </h1>
                    <p class="list-subtitle">{{.Params.subtitle}}</p>
            </section>
            <section class="cards">
                    <ul class="home-cta">
                        <li>
                            <a href="/blog/">
                                <article class="home-cta-item">
                                    <div class="logo">
                                        {{ partial "icons/blog.svg.html" . }}
                                    </div>
                                    <h2>Blogg</h2>
                                </article> 
                            </a>
                        </li>    
                        <li>
                            <a href="/bookmarks/">   
                                <article class="home-cta-item">
                                    <div class="logo">
                                        {{ partial "icons/bookmarks.svg.html" . }}
                                    </div>
                                    <h2>Bokmerker</h2>
                                </article>
                            </a>    
                        </li>
                        <li> 
                            <a href="/projects/">
                                <article class="home-cta-item">
                                    <div class="logo">
                                        {{ partial "icons/projects.svg.html" . }}
                                    </div>
                                    <h2>Prosjekter</h2>
                                </article>
                            </a>    
                        </li>
                        <li>
                            <a href="/archive/">      
                                <article class="home-cta-item">
                                    <div class="logo">
                                        {{ partial "icons/projects.svg.html" . }}
                                    </div>
                                    <h2>Arkiv</h2>
                                </article>
                            </a>    
                        </li>
                    </ul>

            </section>
            <section class="latest-posts">
                <h2>Nyeste bloggposter</h2>
                <ul class="">
                    {{ range first 5 (where .Site.RegularPages "Type" "blog") }}
                        <li>
                            <a href="{{ .RelPermalink }}">
                                {{ .Title }}
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </section>
            <section class="latest-bookmarks">
                <h2>Nyeste bokmerker</h2>
                <ul class="">
                    {{ range first 5 (where .Site.RegularPages "Type" "bookmarks") }}
                        <li>
                            <a href="{{ .RelPermalink }}">
                                {{ .Title }}
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </section>
            <section class="tag-cloud">
                <h2>Emner</h2>
                <ul class="tag-list">
                    {{ range .Site.Taxonomies.tags }}
                        <li>
                            <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                        </li>
                    {{ end }}
                </ul>
            </section>
        </div>
    </div>
{{ end }}