<div id="search-modal" aria-hidden="true" class="hidden">
    <div tabindex="-1" data-micromodal-close class="">
        <div role="dialog" aria-modal="true" aria-labelledby="search-title" class="" >
            <header class="">
                <h2 id="search-title" class="">
                    Search
                </h2>
                <button aria-label="Close modal" data-micromodal-close class=""></button>
            </header>
            <div id="search"></div>
        </div>
    </div>
  </div>