<dialog id="searchDialog">
    <div class="modal-content">
        {{/*  <div role="dialog" aria-modal="true" aria-labelledby="search-title" class="" >
                <h2 id="search-title" class="">
                    Søk..
                </h2>
            
        </div>  */}}
        <div id="search"></div>
    
        {{/*  <button class="close-modal">Close</button>  */}}
    </div>
</dialog>


<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({
            element: "#search",
            showSubResults: true,
            showImages: false,
            resetStyles: false
        });
    
    });
</script>