<dialog id="batteryInfoModal">
    <div class="modal-content">
        <h2>Batteristatus</h2>
        <table id="battery-information">
            <tr>
                <td>Koblet til strøm?</td>
                <td id="battery-charging">Nei</td>
            </tr>
            <tr>
                <td>Batterinivå</td>
                <td id="battery-level">0 %</td>
            </tr>
            <tr>
                <td>Tid til fulladet batteri (estimat)</td>
                <td id="battery-chargetime">Ikke tilgjengelig</td>
            </tr>
            <tr>
                <td>Tid til utladet batteri (estimat)</td>
                <td id="battery-dischargetime">Ikke tilgjengelig</td>
            </tr>
        </table>
        <button type="button" class="close-modal">Lukk</button>
    </div>
  
    <!-- battery info script moved to assets/js/index.js -->
</dialog>