<dialog id="networkInfoModal">
    <div class="modal-content">
        <h2>Nettverk</h2>
        <table id="network-information">
            <tr>
                <td>Båndbredde (mbit/s)</td>
                <td id="network-downlink"> </td>
            </tr>
            <tr>
                <td>Type tilkobling</td>
                <td id="network-effetive-type"> </td>
            </tr>
            <tr>
                <td>Rundturstid (RTT) (ms)</td>
                <td id="network-rtt"> </td>
            </tr>
            <tr>
                <td>Redusert databruk aktivert</td>
                <td id="network-save-data"></td>
            </tr>
        </table>
        <button type="button" class="close-modal">Lukk</button>
    </div>
    <!-- network info script moved to assets/js/index.js -->
</dialog>