html {
    font-size: 100%;
}


body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--bg-color);
    font-size: var(--font-base);
}


h1 {
    font-size: var(--font-3xl);
    font-size: clamp(2rem, 4vw, 3.5rem);
}


p {
    font-size: var(--font-sm);
}


a {
    text-decoration: none;
}


ol,
li {
    margin: 0;
    padding: 0;
}