.layout--article {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(18rem, 1fr);
    gap: clamp(2rem, 5vw, 5rem);
    

    > section:first-child {
        grid-column: 1 / -1;
    }

    > article,
    > aside {
        min-inline-size: 0;
    }

    .container {
        padding-inline: clamp(1rem, 2.5vw, 4rem);
        margin-inline: auto;
    }
}