.layout--home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100dvh;
    row-gap: clamp(1.5rem, 5vw, 3rem); 
    column-gap: 3rem;
    padding-bottom: clamp(4rem, 10vh, 8rem);
}


.layout--home .hero {
    grid-column: 1 / span 2;
    grid-row: 1 / 1;
}


.layout--home .cards {
    grid-column: 1 / span 2;
    grid-row: 2 / 2;
}


.layout--home .latest-posts {
    grid-column: 1 / 2;
    grid-row: 3 / 3;
}


.layout--home .latest-bookmarks {
    grid-column: 1 / 2;
    grid-row: 4 / 4;
}


.layout--home .tag-cloud {
    grid-column: 2 / 3;
    grid-row: 3 / span 2;
}


.latest-posts h2,
.latest-bookmarks h2,
.tag-cloud h2 {
    color: var(--primary-color);
}


.latest-posts a,
.latest-bookmarks a {
    color: white;
}


.latest-bookmarks h2,
.tag-cloud h2 {
    color: var(--primary-color);
}


.container {
    max-width: 1500px;
    padding-inline: clamp(1rem, 2.5vw, 4rem);
    margin-inline: auto;   
}


.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


.tag-list a {
    width: auto;
    display: block;
    padding: 1em;
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    text-transform: capitalize;
    border-radius: 4px;
    border: 2px solid #161616;
}


.tag-list a:hover {
    border: 2px solid  var(--primary-color); 
    color: white;
    text-decoration: none;
}