.app-layout {
    height: 100vh;
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) 1fr;
    grid-template-areas:
        "header header"
        "sidebar main";
}

.header {
    grid-area: header;
    background: var(--primary-color);
    color: var(--text-color);
    display: flex;
    padding: 0 0.8rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: var(--spacing-md);
}

.sidebar {
    grid-area: sidebar;
    background: var(--primary-color);
    color: var(--text-color);
    padding: var(--spacing-sm);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}


.main {
    grid-area: main;
    overflow-y: auto;
    background-color: var(--card-bg);
    box-shadow: inset 0 2px 4px var(--inset-shadow-top), 
              inset 0 -2px 6px var(--inset-shadow-bottom);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    height: calc(100dvh - 55px);
}

.content {
    padding: var(--spacing-sm);
}