.app-layout {
    height: 100vh;
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) 1fr;
    grid-template-areas:
        "header header"
        "sidebar main";
}

.app-layout.single {
    grid-template-columns: var(--sidebar-width) 350px 1fr;
    grid-template-areas:
        "header header header"
        "sidebar articles main";
}

.header {
    grid-area: header;
    background: var(--primary-color);
    color: var(--text-color);
    display: flex;
    padding: 0 0.8rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: var(--spacing-md);
}

.sidebar {
    grid-area: sidebar;
    background: var(--primary-color);
    color: var(--text-color);
    padding: var(--spacing-sm);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.articles {
    grid-area: articles;
    background: var(--card-bg);
    color: var(--text-color);
    padding: var(--spacing-sm);
    overflow-y: auto;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin: 0 var(--spacing-sm);
}

.articles h3 {
    margin-top: 0;
    color: var(--secondary-color);
}

.articles ul {
    list-style: none;
    padding: 0;
}

.articles li {
    margin-bottom: 0.5rem;
}

.articles .current {
    background: var(--secondary-color);
    color: var(--text-color);
    padding: 0.25rem;
    border-radius: 4px;
}

.articles a {
    color: var(--link-color);
    text-decoration: none;
    border-left: 4px solid transparent;
}

.articles a:hover {
    text-decoration: none;
    border-left: 4px solid var(--secondary-color);
}

.main {
    grid-area: main;
    overflow-y: scroll;
    background-color: var(--card-bg);
    box-shadow:
        inset 0 2px 4px var(--inset-shadow-top),
        inset 0 -2px 6px var(--inset-shadow-bottom);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    height: calc(100dvh - 55px);
}

.content {
    padding: var(--spacing-sm);
}
