.page-container{
    margin: 3rem;
}

.list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 5rem 3rem; 
    list-style-type: none;   
    padding:0;
    margin: 0;
    align-items: stretch;
}

.title.hero {
    margin-top: 80px;
    margin-bottom: 70px;
}

.container {
    padding-right: 15rem;
    padding-left: 15rem;
}


.h1-list {
    font-size: 3.875rem;
    line-height: 4.25rem;
    letter-spacing: -3.2px;
}

.list-subtitle {
    font-size: 1.375rem;
    line-height: 2rem;
    letter-spacing: -0.5px;
}
