.page-container{
    margin: 3rem;
}

.list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 5rem 3rem; 
    list-style-type: none;   
    padding:0;
    margin: 0;
    align-items: stretch;
}

.cards {
    margin-bottom: 10rem;
}

.title.hero {
    margin-top: 80px;
    margin-bottom: 70px;
}

.container {
    padding-right: 15rem;
    padding-left: 15rem;
}


.h1-list {
    font-size: 3.875rem;
    line-height: 4.25rem;
    letter-spacing: -3.2px;
}

.list-subtitle {
    font-size: 1.375rem;
    line-height: 2rem;
    letter-spacing: -0.5px;
}

.something {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: var(--primary-color);
    padding: 0.5em;
    border-radius: 4px;
    gap: 10px;
}

.something a {
    color: var(--text-color)
}

.something a.active {
    font-weight: bolder;
}
