.list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: clamp(2rem, 5vw, 5rem) clamp(1.5rem, 4vw, 3rem);
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: stretch;
}

.h1-list {
    font-size: clamp(2.25rem, 6vw, 3.875rem);
    line-height: clamp(2.5rem, 6.5vw, 4.25rem);
    letter-spacing: clamp(-1px, -0.5vw, -3.2px);
}

.list-subtitle {
    font-size: clamp(1rem, 2vw, 1.375rem);
    line-height: clamp(1.5rem, 3vw, 2rem);
    letter-spacing: clamp(-0.2px, -0.2vw, -0.5px);
}

.something {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: var(--primary-color);
    padding: 0.5em;
    border-radius: 4px;
    gap: 10px;
}

.layout--article {
    padding-block: clamp(3rem, 6vw, 6rem);
}

.layout--list .container {
    /* max-width: 2000px; */
    padding-inline: clamp(1rem, 2.5vw, 4rem);
    margin-inline: auto;
}

.layout--article .container {
    max-width: 1000px;
    padding-inline: clamp(1rem, 2.5vw, 4rem);
    margin-inline: auto;
}

.layout--list {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: calc(100dvh - 67px);
    row-gap: clamp(3rem, 5vw, 6rem);
}

.title.hero {
    padding-top: clamp(4rem, 10vh, 8rem);
}

.pagination {
    margin-bottom: clamp(1.5rem, 3vh, 3rem);
}

.something a {
    color: var(--text-color);
}

.something a.active {
    font-weight: bolder;
}
