html {
    font-size: 100%;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--bg-color);
    font-size: var(--font-base);
}

h1 {
    font-size: var(--font-3xl);
    font-size: clamp(2rem, 4vw, 3.5rem);
}

p {
    font-size: var(--font-sm);
}

a {
    text-decoration: none;
}

main a {
    color: var(--secondary-color);
}

ol,
li {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    display: grid;
    grid-template-columns:
        1fr
        min(65ch, calc(100% - 30px- var(--sidebar-width)))
        1fr;
    grid-column-gap: 15px;
    font-size: 2rem;
    line-height: 1.8;
}

.page-wrapper > * {
    grid-column: 2;
}

.svg-calendar {
    width: 20px;
    height: 20px;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.svg-calendar path {
    fill: none;
}

dialog {
    border: none;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: var(--text-color);
    width: min(90vw, 500px);
    padding: 0;
    box-shadow: 0 0 10px var(--shadow-default);
}

dialog::backdrop {
    background: var(--backdrop-bg);
}

.modal-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
