:root {
	--header-height: 55px;
    --sidebar-width: 55px;
    --primary-color: #4d4c4c;
    --secondary-color: #B22424;
    --text-color: white;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --font-family: 'Segoe UI', sans-serif;
    --font-xs: 0.75rem;
  	--font-sm: 0.875rem;
  	--font-base: 1rem;
  	--font-md: 1.125rem;
	--font-lg: 1.25rem;
	--font-xl: 1.5rem;
	--font-2xl: 2rem;
  	--font-3xl: 3rem;
	--pagefind-ui-scale: 0.8;
	--pagefind-ui-primary: var(--primary-color);
	--pagefind-ui-text: var(--text-color);
	--pagefind-ui-background: #161616 !important;
	--pagefind-ui-border: rgba(255,255,255,.1);
	--pagefind-ui-tag: #eeeeee;
	--pagefind-ui-font: var(--font-family) !important;
	--pagefind-ui-border-width: 1px;
}

.pagefind-ui__search-input.svelte-e9gkc3 {
	color: var(--text-color) !important;
	opacity: 0.5;
}

.pagefind-ui__search-clear.svelte-e9gkc3 {
	opacity: 0.5;
}